@charset "UT-8";

body{
    background-image: url('../imagens/Imagemfundo.png');
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    color: white;
    
}
header img{
    height: 200px;
}
.cabecalho{
    line-height: 10px;
    min-height: 20px;
    margin-bottom: 12px;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
.slogan{
    font-size: 18px;
}

.icone:hover{
    transform: scale(1.1);
}

.img_rede_social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.botao_1 {
    background: radial-gradient(#0D0D0D, #6E6E6D);
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    margin: 1% 30%; /* Substitui margin-left e margin-right */
    border-radius: 50px;
    box-sizing: border-box; /* Garante que padding não afete o tamanho */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer;
}

.botao_1:hover {
    box-shadow: 0 3px 5px white;
}

.botao_2{
    display: block; /* Torna o link um bloco clicável */
    width: 100%; /* Faz o link ocupar o espaço total do contêiner pai */
    height: 100%; /* O link ocupa toda a altura */
    text-align: center; /* Centraliza o texto horizontalmente */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
}
footer{
    margin-top: 150px;
    color: white;
    text-align: center;
    font-family:'Merriweather', serif;
    font-size: 0.8rem;
    font-weight: 400;
}
.rede_rodape{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}



