@charset "UT-8";

body{
    background-image: url('../imagens/Imagemfundo.png');
}
header{
    text-align: center;
    color: white;
    
}
header img{
    height: auto;
    width: 10%;
}
.cabecalho{
    line-height: 10px;
    min-height: 20px;
    margin-bottom: 12px;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
.slogan{
    font-size: 18px;
}

.rede_social {
 
   

}

.img_rede_social {
    display: flex;
    justify-content: center;
    gap: 30px;


}
.botao{
    display: flex;
    justify-content: center;
}
