@charset "UT-8";

body{
    background-image: url('../imagens/Imagemfundo.png');
}
header{
    text-align: center;
    color: white;
    
}
header img{
    height: auto;
    width: 10%;
}
.cabecalho{
    line-height: 10px;
    min-height: 20px;
    margin-bottom: 12px;
    word-break: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
.slogan{
    font-size: 18px;
}

.icone:hover{
    transform: scale(1.1);
}

.img_rede_social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

a{
    text-decoration: none;
    color: white;
}

.botao_1{
    background: radial-gradient(#0D0D0D,#6E6E6D);
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}

.botao_1:hover{
    box-shadow: 0 3px 5px   
}

h2.produtos{
    padding-top: 2%;
}
section.destaque_produtos{
    background: radial-gradient(#0D0D0D,#6E6E6D);
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;  
}

div.destaque{
    display: flex;
    border-radius: 5px;
    padding-bottom: 50px;
}

img.imagem2{
    margin-left: 200px;
}
